* {
	margin: 0;
}

div	{
	padding: 20px;
}

.grandparent {
	background: skyblue;
	position: fixed;
}

.parent {
	background: pink;
}

strong {
	position: absolute;
	top: 10px;
	left: 10px;
}

input[name="submit"] {
	margin-left: 20px;
}