.jumboContainer {
	margin-top: 20px;
	margin-bottom: 20px;
}

.page-header {
	border-bottom: none; /*Removed bootstrap border bottom*/
}

.jumbotron {
	margin-bottom: 0;
	background-color: black;
}

.carousel-inner {
	background-color: white;
}

#carouselSlides {
	height: 550px;
	margin: 0 auto;
}

@media (max-width: 767px) {
	#carouselSlides {
		height: 200px;
		margin: 0 auto;
	}

	.carousel-caption>h3 {
		font-size: 16px;
	}
}

.carousel-caption {
	position: absolute;
	bottom: 20%;
	background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(0, 0, 0, 1), rgba(255, 255, 255, 0));
	padding: 0;
}

.carousel-control {
	color: black;
}

.categoryAll {
	background-color: #4A4E51;
	color: white;
}

.category {
	height: 600px;
}

.category>.thumbnail {
	margin: 30px 20px;
	padding-top: 30px;
	height: 530px;
	position: relative;
	background-color: #4A4E51;
	border: 2px solid white;
}
.category>.thumbnail>.caption {
	color: white;
}

.caption>h3 {
	border-bottom: 1px solid white;
}

.category>.thumbnail>img {
	height: 240px; /*Found out to be best image height to avoid stretching*/
}

.categoryTxt {
	font-size: 12px;
}

.category>.thumbnail .btn {
	position: absolute;
	bottom: 10px;
	left: 0;
	right: 0;
}

.category>.thumbnail>.btn-primary {
	background-color: #11114E;
	background-image: none;
}