.page-header {
	border-bottom: none; /*Removed bootstrap border bottom*/
}

.categoryAll {
	background-color: orange;
	color: white;
}

.category {
	border: 2px black solid;
	height: 700px;
}

.category>.thumbnail {
	margin: 30px 20px;
	padding-top: 30px;
	height: 630px;
	position: relative;
}

.category>.thumbnail>img {
	height: 300px;
}

.category>.thumbnail .btn {
	position: absolute;
	bottom: 10px;
	left: 0;
	right: 0;
}

footer {
	color: white;
}

.footerContent {
	text-align: left;
}

.creditsTxt {
	font-size: 12px;
}

.footerTxt {
	margin-top: 15px;
	padding: 10px 20px 10px 20px;
	font-size: 12px;
	font-style: italic;
}