body {
	padding-top: 70px;
	background-color: darkblue;
	color: skyblue;
}

.navbar-default {
	border-bottom: double #00274d 5px;
}
 
.navbar-brand {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	margin: auto;
	padding-top: 5px;
}

.navbar-brand img {
	width: 30px;
	height: 40px;
	display: inline-block; /*Adjacent to Site Name*/
	padding-bottom: 2px;
}

.siteName {
	padding-left: 5px;
	vertical-align: middle;
	display: inline-block;
	list-style-type: none;
}

#partyGame {
	background-color: yellow;
}

#stratGame {
	background-color: blue;
}

#themeGame {
	background-color: red;
}

.dropDownGameList>li>a {
	color: black;
}

.navLinkGames {
	background-color: brown;
}

.navLinkHome {
	background-color: darkblue;
}

.navLinkAbout {
	background-color: pink;
}

.navLinkContact {
	background-color: red;
}

.navbar-nav>.navMainLi>a[href] { /*Increased specificity*/
	color: white;
	font-weight: bolder;
}
